Índice de forums

<div style="border: 1px dotted black; width: 300px;">
	<%= link_to 'Ver cat1', forum_cat_l1s_path %> <br/>
	<%= link_to 'Ver cat2', forum_cat_l2s_path %> <br/>
	<%= link_to 'Ver posts', forum_posts_path %> <br/>
</div>

