<%= "#{t(:message_notification_intro)}, '#{@user.login}'"%><br/>
<%= t(:check_message_notification) %>:

<p>
  <%= link_to @url, @url %>
</p>

<br/><br/>
<p>
  <%= "#{t(:thanks_for_visiting)} #{link_to SITE_NAME, SITE_URL}" %>
</p>

