<% title t(:edit_noticia) %>
<h2 class="title"><%= yield(:title) %></h2>

<%= render :partial => 'form', :locals => {:noticia => @noticia} %>

<%= link_to t(:Show), @noticia %> |
<%= link_to t(:Back), noticias_path %>
