body {
  width: 909px;
  margin-left: auto;
  margin-right: auto;
  background: #cec155;
  text-align: justify;
  font: 13px Trebuchet MS, Helvetica, sans-serif;
  color: #444444;
}

h1, h2, h3 {
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
}

.subtitle{
  border: 0px;
  color: #444;
}

#hlink{
	color: red;
}

#hlink a{
	color: red;
}

h2{
	font-size: 1.8em;
}

h1 {
	font-size: 14px;
}

h3.forum_cat_l1_title{
	color: black;
	border: 0px;
	padding-top: 15px;
	margin-bottom: 0px;
}

h3.noticia_title{
	color: black;
	border: 0px;
	padding-top: 4px;
	margin-bottom: 0px;
}

.noticia_item{
	margin-bottom: 12px;
}

.tr_title th{
	width: 450px;
	background: #ADFF2F;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #6630e0;
}

a:hover {
	//text-decoration: none;
	color: #fb5605;
}

a img {
	border: none;
}

.small{
	width: 520px;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	border: 10px solid #FFFFFF;
}

/* Header */

#header {
	width: 900px;
	height: 100px;
	margin: 0px auto;
	background: url(../images/layo/img06.jpg) repeat-x left top;
}

.t{
	position: absolute;
	top:18px;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */

#logo {
	float: left;
	padding: 40px 0px 0px 20px;
}

#logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo  a{
	//color:#1b6461;
    color:gold;
    letter-spacing: 1px;
	font-weight: bold;
		font-size: 31px;
}

#logo p {
	text-indent: -99999px;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 49px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px;
}

#menu a {
	display: block;
	width: auto;
	padding: 6px 20px 6px 10px;
	background: url(../images/layo/img10.gif) no-repeat left 50%;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active {
}

#menu .active a {
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	background: #FFFFFF;
}

.no_homepage{
	padding-top: 110px !important;
}


#header-pic {
	background: url(../images/layo/img05.jpg) no-repeat left top;
	width: 900px;
	height: 210px;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

.post {
	background: #FFFFFF;
	margin: 0px 0px 30px 0px;
}

.index{
	margin-top: 34px;
}

.post .title {
	margin: 0px;
	background: #444444 url(../images/layo/img07.jpg) no-repeat left top;
	padding: 7px 25px;
	font-size: 1.4em;
}

.post h1, .post h2{
	padding-bottom:10px;
	margin: 0px;
	background: #444444 url(../images/layo/img07.jpg) no-repeat left top;
	padding: 7px 25px;
	font-size: 1.4em;

}
.forum {
	width: 520px;
}

.nav{
	font-size: 18px;
}

.post .title h1 {
}

.post .title a {
	color: white;
	text-decoration: none;
}

.post .title a:visited {
	color: white;
	text_decoration :none;
}


.post .entry {
	padding: 0 20px;
}

.post .meta {
	font-weight: bold;
	padding-left: 20px;
}

.post .byline {
	margin: 0px;
	padding-left: 20px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
}

#sidebar-bgbtm {
}

#sidebar-content {
}

#sidebar ul {
	padding: 0px 0 5px 0;
	margin: 0px;
	list-style: none;
}

#sidebar li li {
	margin-right: 10px;
	line-height: 30px;
	padding-left: 15px;
	border-bottom: 1px dashed #BDBDBD;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	list-style: none;
	padding-left: 8px;
}

#sidebar h3 {
	background: url(../images/layo/img09.jpg) no-repeat left top;
	padding: 7px 25px;
	font-size: 1.4em;
	color: #034c08;
    border: 0px;
    width: auto;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

.alert{
	color:red;
}

/* Search */

#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	padding: 0px;
	border: none;
	padding-top: 15px;
}

#search fieldset input#receta_name{
	margin-left: 20px;
}


#search #s {
	width: 160px;
}

#search_form{
	padding:0px;
	margin:0px;
}

/* Footer */

#footer {
	clear: both;
	width: 920px;
	height: 40px;
	margin: 0px auto 30px auto;
	background: url(../images/layo/img08.jpg) no-repeat left top;
	color: #333;
}

#footer p {
	margin: 0px;
	padding: 13px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}


.form_col1{
	float:left;
	width: 240px;
}

.form_col2{
	float:right;
	margin-right:20px;	
}

form input#receta_photo{
	width: 280px;
}

.form_col2 select{
	width: 200px;
	margin-right: 7px;
}

.form_col2 input{
	width: 200px;
}

.small_field{
	width: 30px !important;
}

.big_field{
	width: 540px !important;
}

.form_col2.duration{
	margin-right: 30px;
}

.form_col2.avg_price{
	margin-right: 78px;
}

.rest_category{
	margin-right: 20px !important;
}



.form_col1_show{
	float:left;
	width: 206px;
}

.form_col2_show{
    margin-left: 100px;
}



.form_div{
	clear:both;
	padding-top: 20px;
}

.form_div select{
}

.form_div input{
	height: 15px;
	padding-top: 6px;
  margin-top:3px;
	width:200px;
}

.little_search_time{
	padding-bottom: 40px;
}

input{
	padding: 4px 2px 3px 2px;
  margin-top:0px;
}

.form_span{
	font-weight: bolder;
}

.message-error {
  padding: 4px 8px 3px 8px;
	font-size: 12px;
	background:#FFDCD6;
	margin: -2px 0px 8px 0px;
	float:left;
	width: 91%;
}

.message-ok {
    padding: 4px 8px 3px 8px;
	font-size: 12px;
	background: #CCFFCC;
	border:1px solid  #00BB00;
	margin: -2px 0px 8px 0px;
	color:#008800;
	float:left;
	width: 97%;
}

.signup{
	margin-top: 10px;
}

.flash_text{
	float:left;
	width: 538px;
	padding: 7px 0px;
}

.close_flash{
	float:right;
}

.close_flash a{
	text-decoration: none;
}


.small_arrows_word{
	float: left;
	padding-right: 7px;
}

.small_arrows{
	float:right;
	width: 5px;
	padding-right: 7px;
}

.recetas_table{
	margin-top: 5px;
}
.recetas_table tr th{
	color: black;
	font-size: 14px;
	padding: 5px;
	background: #CCC;
}

#new_comment_form{
}

#receta_step_attributes__explanation{
  width: 487px;
}

#receta_ingredient_attributes__name{
	width: 300px;
}

.more-comments{
  padding-top: 10px;
}

.more-comments p{
	clear:both;
	background: #CCC;
	margin-top: 0px;
	cursor: pointer;
	padding-left: 5px;
    margin: 0px;
}

.comment{
	float:left;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
}

.avatar_spacing{
	padding-top: 22px;
}

.no_spacing{
	padding:0px;
	margin: 0px;
}

.no_spacing a{
	float:left;
}

.foto-user{
  width:100px;
  float:left
}

.comment-content{
  float:left;
  width: 468px;
}

.content-info{
  color: #999;
  font-size: 11px;
  float:left;
}

.comments{
  padding-top: 50px;
}

p.comment-box{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
p.comment-box text area{
  width: 568px;
  min-height: 40px;
}

.newest_comment{
  margin-bottom: 10px;
}


.comment-text{
  clear:both;
}

.comment-content a.delete_comment{
  float: right;
  text-decoration: none;
}

.post_reply{
	float:right;
	clear:both;
	padding: 4px;
	background: #CCC;
	margin-bottom: 2px;
	border: 1px solid #999;
}

.avatar_div{
	height: 50px;
}

.forum_post_table{
    clear:left;
}

.forum_cat_table th{
	text-align: center;
}

.post_updated_at{
	border-bottom: 1px solid grey;
}

.forum_post_left_td{
	width:150px;
	text-align:center;
}

.forum_post_right_td{
	width:850px;
}

.clear{
	clear:both;
	margin:0px;
	padding:0px;
}

.errorExplanation{
	padding: 6px;
	font-size: 12px;
	background:#FFDCD6;
	border:1px solid #990000;
	margin: 5px 0px 8px 0px;
	color:#BB0000;
	float:left;
	width: 98%;
}

.errorExplanation h2{
	color:#BB0000;
	font-size: 12px;
	font-weight: bolder;
}

.errorExplanation p{
    height: 0px;
}

.errorExplanation ul {
    line-height: 100%;
    margin-bottom: 7px;
}

.errorExplanation ul {
    line-height: 120%;
}

.fieldWithErrors{
	padding-top: 3px;
}

.main_form{
}

fieldset{
	border: 0px;
	padding-top:8px;
	margin: 0px;
	clear:both;
}



#noticias {
}


#noticias p,h3,h4{
	margin:0px;
	padding: 0px;
}

#noticias ul{
	list-style:none;
	padding:0px;
	margin-left: 10px;
	margin-top: 0px;
	width: 550px;
}

#noticias ul li{
	border-top: 1px dotted grey;
  padding-top: 10px;
	clear:both;
}


.nav_links{
	padding-left:10px;
}


.right-column{
	float:left;
	width:485px;
}

div.dateblock{
	line-height: 1.02em;
	width: 40px;
	float: left;
	margin-top: 6px;
	background: #F3F3F3;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	color: #aaa;
	text-align: center;
	margin-right: 10px;
	letter-spacing: 0.17em;
	font-family: Arial, Verdana, sans;
	padding: 1px;
}
span.dateblock_mon{
	font-size: 9px;
	display: block;
	text-align: center;
	color: #999;
	font-family: Georgia, Arial, Verdana, sans;
}
span.dateblock_day{
	font-weight: bold;
	font-size: 15px;
	display: block;
	font-family: Georgia, Arial, Verdana, sans;
	text-align: center;
	position: relative;
	top: -1px;
	color: #336;
}
span.dateblock_year{
	font-size: 9px;
	display: block;
	text-align: center;
	color: #999;
	font-family: Georgia, Verdana, Arial, sans;
}

.number_comments{
	color: #CCC;
}

.user_box{
    margin-top: 10px;
}

.user_info{
	float:left;
	width: 152px;
	text-align:center;
	padding-top: 20px;
}

.user_participation{
	padding-top: 4px;
}

.user_data{
	float:left;
	width:378px;
	padding-left: 40px;
}

#edit_user_link{
	clear:left;
	padding-top: 60px;
	margin-left: 10px;
}

table.th_paddings th{
	padding-left: 20px;
	padding-right: 20px;
}


table.th_paddings td{
	text-align: center;
}

#new_receta_button{
	font-size: 14px;
	float:right;
	border: 1px solid black;
	background: #CCC;
	padding: 5px;
}

.nav_buttons {
  padding: 0px;
  margin: 5px 10px 10px 0px ;
	text-align: right;
}

.index_buttons {
	position:absolute;
	top:127px;
}

.recetas_bt {
	margin-left: 314px;		
}

.advices_bt {
	margin-left: 328px;		
}

.restaurans_bt {
	margin-left: 274px;		
}


.nav_buttons li {
	margin: 0px 0px 0px 10px;
	padding: 4px;
  border: 1px solid black;
	font-size: 14px;
	background: #adff2f;
	text-align: right;
  list-style:none;
  width: 0;
  display: inline;
}

.nav_buttons li:hover{
	background: #C0FF00;
}

.nav_buttons li a:hover{
	color: purple;
}


#what_can_i_cook_boutton{
	font-size: 14px;
	float:right;
	border: 1px solid black;
	background: #CCC;
	padding: 5px;
    margin-right: 20px;
}

.receta_category_div{
	float:left;
	margin-right: 0px;
  width: 190px;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 6px;
  text-align: center;
}

.receta_category_name{
    font-weight: bolder;
	text-align:center;
}


.puntuation{
	color: red;
	text-align:left;
}


table.recetas_table{
	width: 680px;
	text-align:left;
}
table.recetas_table td{
	text-align:left;
	height: 20px;
}

table tr.odd {
	background: #efefef;
}

table tr.par {
}

.receta_show_intro{
	margin-top: 10px;
}

.receta_show_photo{
	float:left;
	width: 250px;
	text-align:center;
	margin-top: 0px;
}

.restaurant_show_photo{
	float:left;
	width: 250px;
	text-align:center;
	margin-top: 36px;
}


.receta_show_info{
	float:left;
	width: 300px;
}

.receta_show_people{
	margin-top:0px;
	padding-top: 0px;
    padding-bottom: 10px;
}

.receta_show_body{
	margin-left: 10px;
}

.receta_show_name{
	text-align:center;
	padding-bottom: 17px;
	font-size: 17px;
}

.receta_show_name h1{
	color:black;
	font-size: 20px;
}

.receta_show description_div{
	padding-top: 18px;
	clear:left;
}

.description_text{
	padding-left: 10px;
}

.ingredients_div{
	clear:left;
    padding-top: 20px;
}

.steps_div{
	padding-top: 0px;
}

.receta_show_origin{
	padding-top:7px;
	padding-bottom: 7px;
}

.receta_show_links{
	padding-top: 15px;
	clear:both;
}

.receta_show_duration{
	padding-top:7px;
	padding-bottom: 7px;
}

.results_no_margin{
	margin: 0px;
}

.results_margin{
	margin-top:50px;
	margin-bottom: 0px;
}

.login_check label{
	float:left;
}

.login_check input{
	float:left;
	margin-top: 3px;
	width: auto;
}

.login_button{
	clear:both;
}

.login_button input{
	margin-top:20px;
}

table.messages tr th{
	width: 200px;
}


ul#social_buttons {
	margin: 0px;
	padding: 0px 4px 0px 0px;
	list-style: none;
	line-height: normal;
	float: right;
}

ul#social_buttons li {
	float: left;
	margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

ul#social_buttons ul li a {
	display: block;
	width: auto;
}

.no_background {
	background: none;
}

.rss_button {
	float: right;
	margin: 4px 9px 10px 0px;
}

.rss_button img{
	width: 18px;
}

.rating_spinner{
	float:left;
	padding: 8px 0px 0px 10px;
}

.rate_text{
	float:left;
    padding: 8px 0px 0px 16px;
}

.rate_without_login{
	float:left;
    padding-left: 20px;
    padding-top:10px;
}

.already_rated{
	float:left;
	padding-left: 20px;
	padding-top:10px;
}

/* Tags cloud */
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.advices_col1{
	padding: 4px 10px 0px 10px;
	float:right
}

.advices_col1 div{
	width: 250px;
}

.advices_col2{
	float: left;
}

.advices_col2 div{
	padding: 0px 10px 0px 10px;
}

.advices_col2 h2{
	background:transparent url(../images/layo/img09.jpg) no-repeat scroll left top;
	font-size:14px;
	padding:7px 25px;
}

.advices_col2 .cloud{
	width: 230px;
}

p.no_results_found{
	padding-left: 10px;
	font-size: 14px;
}

#favorite_spiner{
    padding-right:1px;
    width:10px;
}

.added_to_favorites{
    color:green;	
}

.delete_favorite_spinner{
	padding-left: 5px;
}

.delete_favorite_img{
	float:left;
}

.terms{
    margin-bottom: 0px;
}

.terms span{
	padding-left: 5px;
	
}

.login_check .fieldWithErrors{
	display: block;
	padding:0px;
}

#spiner_my_friend_link{
	width: 10px;
	height: 10px;
}

#success_form{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.errorExplanation p {
  margin-top:0px;
}

#errorExplanation h2{
	background: none !important;
	padding-left:0px;
}

.comment-text-area{
	width:450px;
	min-height:100px;	
	padding: 5px;
}

.comment_spinner{
	float:right;
	margin: 3px 12px 0px 0px;
}

#comment_submit{
	float: right;
	margin-right: 27px;
}

.form_div textarea{
	width:390px;
	height:100px;	
	padding: 4px 2px 3px 2px;
}

.observations{
	padding-top:0px !important;
	margin-bottom: 15px !important;
}

.close_button{
	float:right;
	display:block;
	padding-bottom:11px;
}

.redbox_content{
	clear:both;
	width: 400px;
}

.redbox_photo{
	clear:both;
	width: 300px;
}


.redbox_content_map{
	clear:both;
	width: 425px;
}

.redbox_content h2{
	color: black;
	text-align: center;
}

#comment_error{
	padding-left: 6px;
	color: red;
	padding-top: 1px;
}

.autor{
	margin-bottom: 10px;
}

.advice_title{
	font-size: 18px;
}

/* IE7 */
.fixed_width{
	width: 148px;
}

.file_type{
	height:25px !important;
}

#index_options{
	display: inline-block;
	margin: 10px 0px 18px 0px;
}

.index_option{
	float:left;
    margin: 10px 20px;
}


.index_option .photo{
	float:left;
    margin-right: 8px;
}

.index_option .content{
    width: 150px;
    float:left;
    text-align: left;
}


.index_option span{
	display:block;
	padding-bottom:7px;
}

#forum_post_title{
	width: 551px;
}

#forum_post_comment, #forum_reply_reply, #advice_description{
	width: 558px;
	height: 200px;
}

h2.forum_post{
	background:transparent url(../images/layo/img09.jpg) no-repeat scroll left top;
	font-size:14px;
	padding:7px 25px;
}

h2.forum_post a{
	color: white;
	text-decoration:none;
}

#ad_block_hor{
	margin: 2px 0px;
}

#ad_block_side{
	margin-left: 25px;
	margin-bottom: 10px;
}

#ad_block_bottom{
	margin:6px 0px 20px 0px;
}