body {
  width: 909px;
  margin-left: auto;
  margin-right: auto;
  background: #cec155;
  text-align: justify;
  font: 13px Trebuchet MS, Helvetica, sans-serif;
  color: #444444;
}

h1, h2, h3 {
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
}

#hlink{
	color: red;
}

#hlink a{
	color: red;
}

h2{
	color: #034c08;
}

h1 {
	font-size: 2.4em;
}



h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #6630e0;
}

a:hover {
	text-decoration: none;
	color: #fb5605;
}

a img {
	border: none;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	border: 10px solid #FFFFFF;
}

/* Header */

#header {
	width: 900px;
	height: 100px;
	margin: 0px auto;
	background: url(../images/layo/img06.jpg) repeat-x left top;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */

#logo {
	float: left;
	padding-left: 20px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 {
	padding: 40px 0px 0px 0px;
}

#logo h1 a{
	color:#1b6461;
    letter-spacing: 1px;
	font-weight: bold;
}

#logo p {
	text-indent: -99999px;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 49px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px;
}

#menu a {
	display: block;
	width: auto;
	padding: 6px 20px 6px 10px;
	background: url(../images/layo/img10.gif) no-repeat left 50%;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active {
}

#menu .active a {
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	background: #FFFFFF;
}

#header-pic {
	background: url(../images/layo/img05.jpg) no-repeat left top;
	width: 900px;
	height: 210px;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

.post {
	background: #FFFFFF;
	margin: 0px 0px 30px 0px;
}

.post .title {
	margin: 0px;
	background: #444444 url(../images/layo/img07.jpg) no-repeat left top;
	padding: 7px 25px;
	font-size: 1.4em;
}

.post .title h1 {
}

.post .entry {
	padding: 0 20px;
}

.post .meta {
	font-weight: bold;
	padding-left: 20px;
}

.post .byline {
	margin: 0px;
	padding-left: 20px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
}

#sidebar-bgbtm {
}

#sidebar-content {
}

#sidebar ul {
	padding: 0px 0 5px 0;
	margin: 0px;
	list-style: none;
}

#sidebar li li {
	margin-right: 10px;
	line-height: 30px;
	padding-left: 15px;
	border-bottom: 1px dashed #BDBDBD;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	list-style: none;
}

#sidebar h2 {
	background: url(../images/layo/img09.jpg) no-repeat left top;
	padding: 7px 25px;
	font-size: 1.4em;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Search */

#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin-left: 20px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Footer */

#footer {
	clear: both;
	width: 920px;
	height: 40px;
	margin: 0px auto 30px auto;
	background: url(../images/layo/img08.jpg) no-repeat left top;
	color: #333;
}

#footer p {
	margin: 0px;
	padding: 13px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}


.form_col1{
	float:left;
	width: 180px;
}

.form_col2{
	float:right;	
	width: 180px;
}

.form_div{
	clear:both;
	padding-top: 20px;
}

.form_span{
	font-weight: bolder;
}