html{
	font-family: Verdana;
	font-size: 13px;
	background: #099; 
	/* background-image: url('../images/b/background.gif'); */
	width: 989px;
	margin: 0px;
	padding: 0px;
	
}

body{
	width: 949px;
	border: 1px solid black;
	background: white;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-align: center;
	background: cyan;
	margin:0px;
	padding: 10px 0px 10px 0px;
}

h2{
	font-size: 14px;
	height: 14px;
	font-weight: normal;
	padding:0px;
	margin:0px;
}

h3{
	font-size: 12px;
	padding: 0px;
	margin:0px;
}


.title{
	border-bottom: 1px solid black;
	width: 550px;
	display: block;
}


ul{
	list-style:none;
	padding-left: 8px;
	margin:0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

table{
	text-align: left;
}

#top_menu li{
	float:left;
	padding:5px;
	border: 1px solid black;
	background: lightblue;
}

#page_wrapper{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#right_menu{
	float:right;
	background: #CCC;
	width: 184px;
	padding: 8px;
}

.receta_title{
	font-weight: normal;
	width: 80%;
}
.autor{
	font-size: 10px;
	color: #666;
}

.last_recetas{
	padding-left: 8px;
	font-size: 11px;
}

.clear{
	clear:both;
}

/* FORMS */
.form_col1{
	float:left;
	width: 200px;
}

.form_col2{
	float:left;
	width: 200px;
	margin-left: 60px;
}

.form_div{
	clear: left;
	height: 50px;
}

.form_span{
	font-weight:bolder;
}

.form_but{
	clear:left;
	padding-top: 5px;
}

.errorExplanation{
}

.fieldWithErrors{
}

#page_content{
	width: 700px;
}