html{
	font-family: verdana;
	font-size: 12px;	
}


h1 a{
	color:#1b6461;
    letter-spacing: 1px;
	font-weight: bold;
}

h1 a:hover{
	color:#1b6461;
}


p{
	margin-top: 4px;
}



a {
	text-decoration: none;
	color: #6630e0;
}

a:hover {
	text-decoration: none;
	color: #fb5605;
}



table tr.odd {
	background: #efefef;
}

table tr.par {

}

.login a{
	color: #a90050;
	padding-right: 2px;
}

.post_title{
	background: url(../images/layo/img09.jpg) repeat-x left top;
	width: 400px;
	padding:5px;
	font-weight:bold;
	float:left;
}

.post_reply{
	float:right;
	padding: 5px;
}

.updated_at{
	border-bottom: 1px solid #CCC;
	padding-top: 0px;
}

.forum_user{
	padding-bottom: 4px;
}

.number_posts{
	padding-top: 4px;
}

.post{
	padding-left: 4px;
}

.th_title{
	background: url(../images/layo/img09.jpg) repeat-x left top;
	padding: 0px 25px;
	font-size: 16px;
	
}