#news{
	width: 700px;
	border-bottom: 1px dotted grey;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 190px;
}

#news h3{
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

#news h4{
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

#news_image{
	float: left;
}

#news_intro{
	height: 94px;
}

#news_right{
	float: left;
	margin-left: 15px;
	width: 510px;
}