<ul class="nav_buttons<%=  ' index_buttons recetas_bt' if main_index? %>">
  <li>
    <%= link_to t(:New_receta), new_receta_path %>
  </li>
  <li>
    <%= link_to t(:What_can_i_cook), que_cocinar_hoy_recetas_path %>
  </li>
</ul>