<%= render :partial => 'nav_buttons' %>

<% title "#{t(:best_recetas_of)} #{@category.name}" %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'list_recetas', :locals => {:recetas => @recetas} %>

<div style="margin-top:28px;">
	<%= link_to t(:Back), recetas_path %>
</div>