<ul class="nav_buttons">
  <li>
	  <%= favorites_link(t(:My_favorite_advices), t(:Other_user_favorite_advices),
	    consejos_favoritos_user_path(@user)) %>
  </li>
</ul>

<% title "#{t(:published_advices_of)} #{@user.login}" %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'user_advices' %>
