<% title t(:register) %>
<h1><%= yield(:title) %></h1>

<% if @user.errors.blank? %>
	<div class="signup">
	  <div class="message-ok">
	    <%= t(:register_intro)%>
	  </div>
	</div>
<% end %>

<%= render :partial => "form"%>
