<ul class="nav_buttons">
  <li>
	  <%= favorites_link(t(:My_published_recipes), t(:Other_user_published_recipes),
	    recetas_user_path(@user)) %>
  </li>
</ul>

<% title "#{t(:favorite_recipes_of)} #{@user.login}" %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'user_recipes' %>
