<ul class="nav_buttons">
  <li>
    <%= favorites_link t(:My_favorite_restaurants), t(:Other_user_favorite_restaurants),
      restaurantes_favoritos_user_path(@user) %>
  </li>
</ul>

<% title "#{t(:published_restaurants_of)} #{@user.login}" %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'user_restaurants' %>
