<h3><%= t(:Best_voted_chefs) %></h3>
<ul>
	<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
	<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
 	<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
	<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
</ul>
