<h3><%= t(:Last_recipes_voted)%></h3>
<ul>
	<li><a href="#">Arroz a la cubana</a> por Antonio Pérez (4.0)</li>
	<li><a href="#">Marisco satinado</a></li>
	<li><a href="#">Huevo de nido</a></li>
	<li><a href="#">Tarta de la abuela</a></li>
</ul>