<ul class="nav_buttons<%=  ' index_buttons restaurans_bt' if main_index? %>">
  <li>
    <%= link_to t(:New_restaurant), new_restaurant_path %>
  </li>
  <li>
    <%= link_to t(:Where_can_i_eat), donde_puedo_comer_restaurants_path	%>																																																																																																					 
  </li>
</ul>
