<%= render :partial => 'nav_buttons' %>

<% title "#{t(:best_restaurants_of)} '#{@rest_category.name}'" %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'restaurants' %>

<div style="margin-top:28px;">
	<%= link_to t(:Back), restaurants_path %>
</div>
