<% title t(:edit_category2) %>
<h1 class="title forum"><%= yield(:title) %></h1>

<%= render :partial => "form" %>

<%= link_to t(:Show), @forum_cat_l2 %> |
<%= link_to t(:Back), forum_cat_l2s_path %>
