<h1>Listing forum_cat_l2s</h1>
<h2>Subforos de cada categoría</h2>


<% for category in @categories %>
  <h3><%=h category.title %></h3>
  
  <table border="1" cellspacing="0" cellpadding="4">
 	  <tr >
	    <th style="width:320px; background: #ABC">Título</th>
	    <th style="width: 320px; background: #ABC">Último post</th>
	  </tr>

	 <% for forum_cat_l2 in @forum_cat_l2s %>
 		<% if forum_cat_l2.forum_cat_l1_id == category.id %>
		  <tr>
		    <td style="width: 400px;"><%=link_to forum_cat_l2.title, forum_cat_l2 %></td>
			<td style="width: 400px;"><%= link_to forum_cat_l2['last_update'].title, forum_cat_l2['last_update'] %></td>
		  </tr>
		<% end %>
	 <% end %>
  </table>

<% end %>


<br />


<%= only_admin('New Forum Cat l2',new_forum_cat_l2_path) %>
